/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html,
body {
  width: 100%;
  margin: 0;
}

/*
.tbody-products > tr > th, .tbody-products > tr > td , .thead-products > tr > th, .thead-products > tr > td{
    padding: 10px;
}
*/
